<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Travel Can</title>
</head>
<body >
<div class="container px-4 py-5 justify-content-center">
  <h1 class="pb-2 border-bottom" style="text-align:center">Travel Can</h1>
  <div class="d-flex mt-3 mb-4" style="justify-content: center">
    <a class="btn btn-primary" style="margin-left: 10px" th:href="@{'/viajes'}">Viaje</a>
    <a class="btn btn-primary" style="margin-left: 10px" th:href="@{'/mascotas'}">Mascotas</a>
    <a class="btn btn-primary" style="margin-left: 10px" th:href="@{'/lugares'}">Lugares</a>
  </div>
</div>

</body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</html>